	
  <div class="appadv_wrap">
  <!-- 头部 -->
	{include file="../common/header.tpl"}
	<div style="clear:both"></div>
	
  	<div class="mainbox">
  		<div class="mainleft">
  			<div class="logo">
  				<a id="headlink" href="/d/index">
  					<img src="http://img02.taobaocdn.com/imgextra/i2/729839245/T2t.uVXclXXXXXXXXX_!!729839245.png" />
  					<img src="http://img04.taobaocdn.com/imgextra/i4/729839245/T2PQpFXfpNXXXXXXXX_!!729839245.png_90x90.jpg"/>
  				</a>
  			</div>
  			<h1>汇聚淘宝 天猫 品牌优惠券</h1>
  			<div class="advfont">
  				  <font>购物前先领券力省又省钱</font>
  				<!--<img src="http://img01.taobaocdn.com/imgextra/i1/729839245/T2aY5iXgXbXXXXXXXX_!!729839245.gif"/>-->
  			</div>
  		
  			
  			<div class="code">
  				<b>微信扫一扫，直接下载至手机</b>
  				<span  class="adr">
  					<img src="http://img01.taobaocdn.com/imgextra/i1/729839245/T2JX2fXXNXXXXXXXXX_!!729839245.png"/>
  					<p>Android</p>
  				</span>
  				<span class="iph" >
  					<img src="http://img01.taobaocdn.com/imgextra/i1/729839245/T2k5neXmBXXXXXXXXX_!!729839245.png"/>
  					<p>iPhone</p>
  				</span>
  			</div>
  		</div>
  		
  		<div class="mainright">
  			<a class="prevbtn btn" href="javascript:void(0)"></a>
  			<a class="nextbtn btn" href="javascript:void(0)"></a>

  			<div class="animdiv">
  				<div class="phonein_first">
  					<div class="animgbox" id="animgbox">
  						<img  src="http://img03.taobaocdn.com/imgextra/i3/729839245/T26sPbXehbXXXXXXXX_!!729839245.jpg"/>
  						<img  src="http://img02.taobaocdn.com/imgextra/i2/729839245/T2nobeXaBXXXXXXXXX_!!729839245.jpg"/>
  						<img  src="http://img01.taobaocdn.com/imgextra/i1/729839245/T2DXjXXcFbXXXXXXXX_!!729839245.jpg"/>
  						<img  src="http://img04.taobaocdn.com/imgextra/i4/729839245/T2BrfeXbNaXXXXXXXX_!!729839245.jpg"/>
  					</div>
  				</div>
  				
  				<div class="phonein_second">
  					<div class="animgbox">
  						<img  src="http://img01.taobaocdn.com/imgextra/i1/729839245/T2JuPeXdpaXXXXXXXX_!!729839245.jpg"/>
  						<img  src="http://img01.taobaocdn.com/imgextra/i1/729839245/T2DXjXXcFbXXXXXXXX_!!729839245.jpg"/>
  						<img  src="http://img04.taobaocdn.com/imgextra/i4/729839245/T2BrfeXbNaXXXXXXXX_!!729839245.jpg"/>
  						<img  src="http://img03.taobaocdn.com/imgextra/i3/729839245/T26sPbXehbXXXXXXXX_!!729839245.jpg"/>
  					</div>
  				</div>
  			</div>
  			
  		</div>
  	</div>
  	<div class="foot">
  		<img  src="http://img02.taobaocdn.com/imgextra/i2/729839245/T2kU_dXjdaXXXXXXXX_!!729839245.png"/>
  	</div>

  </div>



