
<div class="quansoso_intaobao_warp">
	<!-- 头部 -->
	{include file="../common/header.tpl"}
	
	<div class="safe_area">
	<!-- 首焦bannar区 -->
	<div class="firstscreen">
	    <div class="left_show">
			<!--bannarl轮播 -->
			<div class="ban_turn">
				<ul class="ban_turn_ul">
				{foreach from=$banners item=banner}	
					<li><a href="{$banner.link}"><img src="{$banner.img_url}"/></a></li>
				{/foreach}
				</ul>
			</div>
			<!--活动展示-->	
			<div class="activity_show">
				<ul class="activity_show_ul">
				{foreach from=$banners item=banner name=foo}		
					<li class="activity_show_li" {if $smarty.foreach.foo.index==4}style="margin-right:0"{/if}}><div {if $smarty.foreach.foo.index==0}class="tobanner"{/if}></div><a href="#"><img src="{$banner.img_url}_310x310.jpg"/><font>{$banner.describe}</font></a></li>
				{/foreach}
				</ul>
			</div>
		</div>
		<!--首焦坑位-->
		<div class="booth">
		
			<div class="boothlist" style="display:none">
				<img style="width:180px;height:270px" src="http://img01.taobaocdn.com/imgextra/i1/857261527/T2b2_OXe4aXXXXXXXX_!!857261527.png"/>
			</div>
		
			<div class="boothlist">
				
				<div class="qfdiv" style="overflow:hidden;position:relative;cursor:pointer;width:180px;height:165px;background:url(http://img04.taobaocdn.com/imgextra/i4/857261527/T2n._QXclaXXXXXXXX_!!857261527.png)">
					<img class="qfheart" style="margin-top:76px;margin-left:72px;visibility:hidden;" src="http://img01.taobaocdn.com/imgextra/i1/857261527/T2W_zzXlVaXXXXXXXX_!!857261527.png">
					<div style="color:#fff;margin-left:75px;margin-top:6px">已有<span class="qfnum" style="color:#fffc00">0</span>祈福</div>
					<img class="flyqfheart" style="display:none;width:20px;height:20px;position: absolute;top:115px;left:75px;" src="http://img01.taobaocdn.com/imgextra/i1/857261527/T2.R_nXahbXXXXXXXX_!!857261527.png">
				</div>
				
				<ul style="margin-top:12px;">
        			<li>
        				<a href="/d/activity/detail?merchant=only" target="_blank" title="无法抵御的，雪纺魅力" ><i>1</i><em>无法抵御的，雪纺魅力</em></a>
        			</li>
        			<li>
        				<a href="/d/activity/detail?merchant=afusjt" target="_blank" title="拾起，曾经的向往" ><em><i>2</i>拾起，曾经的向往</em></a>
        			</li>
        			<li>
        				<a href="/d/activity/detail?merchant=jasonwood" target="_blank" title="短“潮”风尚，离不开的牛仔"><em><i>3</i>短“潮”风尚，离不开的牛仔</em></a>
        			</li>

				</ul>
				
			</div>

			<div class="follow_phone">				
				<img class="wxemshow" style="width:53px;height:40px;cursor:pointer" src="http://img04.taobaocdn.com/imgextra/i4/857261527/T2PXjPXcVaXXXXXXXX_!!857261527.png">
				<a href="/d/downapp"><img style="width:90px;height:36px;margin-left:20px" alt="" src="http://img03.taobaocdn.com/imgextra/i3/857261527/T26SFLXcFeXXXXXXXX_!!857261527.png"></a>
			</div>	
		</div>	
	</div>

	<div style="clear:both"></div>

	
	<!-- 良品推荐-->
	<div class="quansoso_part_tltle" style="background: url('http://img01.taobaocdn.com/imgextra/i1/857261527/T2vPPNXbVXXXXXXXXX_!!857261527.png') no-repeat 0 0px;">
		<h2>淘宝贝
			<img src="http://img04.taobaocdn.com/imgextra/i4/857261527/T2OYS_XddbXXXXXXXX_!!857261527.png">
			<span>
				<a href="/d/goods">
					<img src="http://img03.taobaocdn.com/imgextra/i3/857261527/T2SrLNXoRXXXXXXXXX_!!857261527.png"  />
				</a>
			</span>
		</h2>
	</div>

	<div class="quansoso_hotgoods">
	    <div class="goodsleft">	  
			<div class="hotgoodstype">
					 	<ul>
					 		<li>
					 			<a href="/d/goods?category=3&menu=1">
					 			<img src="http://img02.taobaocdn.com/imgextra/i2/857261527/T2BB_SXdNaXXXXXXXX_!!857261527.png">
					 			女装</a>
					 		</li>
					 		<li>
					 			<a href="/d/goods?category=18&menu=4">
					 				<img src="http://img04.taobaocdn.com/imgextra/i4/857261527/T2KITSXjBaXXXXXXXX_!!857261527.png">
					 				女鞋
					 			</a>
					 		</li>
					 		
					 	</ul>
					 	
					 	<ul>
					 		<li><a href="/d/goods?category=5&menu=3">
					 			<img src="http://img03.taobaocdn.com/imgextra/i3/857261527/T2aPYTXmhXXXXXXXXX_!!857261527.png">
					 				美妆</a>
					 		</li>
					 		<li>
						 		<a href="/d/goods?category=4&menu=2">
							 		<img src="http://img02.taobaocdn.com/imgextra/i2/857261527/T2P96TXiRXXXXXXXXX_!!857261527.png">
							 		男装
						 		</a>
					 		</li>
					 	
					 	</ul>
					 	
					 	<ul>	
					 		<li>
					 			<a href="/d/goods?category=8&menu=6"><img src="http://img01.taobaocdn.com/imgextra/i1/857261527/T2fFYSXb8aXXXXXXXX_!!857261527.png">
					 			配饰
					 			</a>
					 		</li>
					 		
					 		<li>
					 			<a href="/d/goods?category=7&menu=5">
					 				<img src="http://img04.taobaocdn.com/imgextra/i4/857261527/T2NCbTXgFXXXXXXXXX_!!857261527.png">
					 				箱包
					 			</a>
					 		</li>
					 	</ul>	

						<br/>
	
			</div>
			
			<div class="good_firstshow">
				<a target="_blank" href="http://detail.tmall.com/item.htm?spm=a1z10.4.w5223186364.3.aaJ2Fg&id=9854856362&">
					<img src="http://img01.taobaocdn.com/imgextra/i1/857261527/T2cmbTXdtXXXXXXXXX_!!857261527.jpg">
				</a>	
			</div>
		</div>
		<div class="hotgoods_widget">
			{$goodRecommendHtml}
		</div>
	</div>

	<div style="clear:both"></div>

	<!-- 优惠券-->
	<div class="quansoso_part_tltle" style="background: url('http://img02.taobaocdn.com/imgextra/i2/857261527/T2GdYNXjBXXXXXXXXX_!!857261527.png') no-repeat 0 0px;">
			<h2>享优惠
				<img src="http://img03.taobaocdn.com/imgextra/i3/857261527/T2xOYMXlNXXXXXXXXX_!!857261527.png">
				<span>
					<a href="/d/coupons">
						<img src="http://img03.taobaocdn.com/imgextra/i3/857261527/T2SrLNXoRXXXXXXXXX_!!857261527.png"  />
					</a>
				</span>
			</h2>
	</div>
	
	<div class="quansoso_hotgoods">
		 <!--  
			<div class="coupontype">
				 	<ul>
				 		<li><a href="/d/coupons?&category=1">女装 /</a></li>
				 		<li><a href="/d/coupons?&category=2">美妆 /</a></li>
				 		<li><a href="/d/coupons?&category=3">配饰 /</a></li>	
				 	</ul>
				 	
				 	<ul>
				 		<li><a href="/d/coupons?&category=4">男装 /</a></li>
				 		<li><a href="/d/coupons?&category=5">鞋包 /</a></li>
				 		<li><a href="/d/coupons?&category=6">运动 /</a></li>
				 	</ul>	
				 	
				 	<ul>
				 		<li><a href="/d/coupons?&category=7">食品  /</a></li>
				 		<li><a href="/d/coupons?&category=8">其他  /</a></li>
				 	</ul>	
				 	
					<br/>
				
								
			</div>
		-->
		<div class="happy_type_menuv2">
	
		<ul>
			<li class="coupon_menu1"><a href="/d/coupons?&category=1" title="女装优惠券"></a></li>
			<li class="coupon_menu2"><a href="/d/coupons?&category=2" title="美妆优惠券"></a></li>
			<li class="coupon_menu3"><a href="/d/coupons?&category=3" title="配饰优惠券"></a></li>
		</ul>
		<ul>
			<li class="coupon_menu4"><a href="/d/coupons?&category=4" title="男装优惠券"></a></li>
			<li class="coupon_menu5"><a href="/d/coupons?&category=5" title="鞋包优惠券"></a></li>
			<li class="coupon_menu6"><a href="/d/coupons?&category=6" title="运动优惠券"></a></li>
		</ul>
		<ul>
			<li class="coupon_menu7"><a href="/d/coupons?&category=7" title="食品优惠券"></a></li>
			<li class="coupon_menu8"><a href="/d/coupons" title="3C优惠券"></a></li>
			<li class="coupon_menu9"><a href="/d/coupons?&category=8" title="其它"></a></li>
		</ul>
	</div>	
	
			{$couponHtml}
			
		</div>
		<!-- 优惠券end -->

	<div style="clear:both"></div>
	
	<!-- 横幅 -->
	<div style="margin-top: 30px;">
		<a href="{$topBanners.link|default:''}" target="_blank"><img src="{$topBanners.img_url}" target="_blank" style="border: 1px solid #ddd;" border="0" alt="{$topBanners.title}" title="{$topBanners.title}" width="950" height="150"></a>
	</div>

	<!-- 推荐活动 -->
	<div class="happy_recommend_area">
	
		<div class="quansoso_part_tltle" style="background: url('http://img04.taobaocdn.com/imgextra/i4/857261527/T2PN2NXixXXXXXXXXX_!!857261527.png') no-repeat 0 0px;">
				<h2>推荐活动
				<img src="http://img03.taobaocdn.com/imgextra/i3/857261527/T2DDjLXjXaXXXXXXXX_!!857261527.png">			
				</h2>
		</div>
		
		<div class="happy_recommend_card">
			{$activityHtml}
		</div>
	</div>
    <div style="clear:both"></div>
	
	<!-- 横幅 -->
	<div style="margin-top:20px;">
		<a href="{$bottomBanners.link|default:''}" target="_blank"><img src="{$bottomBanners.img_url}" target="_blank" style="border: 1px solid #ddd;" border="0" alt="{$bottomBanners.title}" title="{$bottomBanners.title}" width="950" height="120"></a>
	</div>
	</div>	
	<!-- safe_area end -->
</div>
<!-- wrap end -->


<script src="/assets/javascripts/front/home.js"></script>

