
	<img class="erweima" style="display:none;position:fixed;left:50%;bottom:85px;margin-left:268px;width:210px;z-index:9999" src="http://img03.taobaocdn.com/imgextra/i3/782694284/T2xRBBXbXOXXXXXXXX_!!782694284.jpg_310x310.jpg"/>
	
	<div class="back-to-top erweimabtn"  style="position:fixed;left:50%;bottom:85px;margin-left:475px;z-index:9999;display:none;">
	  	<!--  <img class="erweimabtn" style="cursor:pointer" src ="http://img03.taobaocdn.com/imgextra/i3/782694284/T29IfxXXxaXXXXXXXX_!!782694284.png"/>-->
	</div>
	
	<div class="back-to-top" style="position:fixed;left:50%;bottom:35px;margin-left:478px;z-index:9999;display:none;">
	  <a href="#top"><img src ="http://img04.taobaocdn.com/imgextra/i4/857261527/T2S1DKXfpXXXXXXXXX_!!857261527.png"/></a>
	</div>
	
	
	{if $mark=="index"}
	<!-- 大头部 -->
<div style="height:65px;">
	<div class="quansoso_intaobao_head">
		<div class="head_safe_area">
		<!-- logo-->
		<div class="quansoso_logo">
			 
		</div>
		
		<!-- 导航 -->
		<div class="quansoso_intaobao_nav">
			<ul>
				<li {if $mark=="index"}class="curr"{/if}><a {if $mark=="index"}{/if} href="/d/index">首页</a></li>
				<span></span>
				<li {if $mark=="goodRecommend"}class="curr"{/if}><a {if $mark=="goodRecommend"}class="curr"{/if} href="/d/goods">淘宝贝</a></li>
				<span></span>
				<li {if $mark=="postCard"}class="curr"{/if}><a {if $mark=="postCard"}class="curr"{/if} href="/d/coupons">享优惠</a></li>					
				<span></span>
				<li {if $mark=="activity"}class="curr"{/if}><a {if $mark=="activity"}class="curr"{/if} href="/d/activity">聚活动</a></li>
				<span></span>
				<li {if $mark=="merchant"}class="curr"{/if}><a {if $mark=="merchant"}class="curr"{/if} href="/d/merchant">品牌说</a></li>
			</ul>
		</div>
		
		<!-- search框 -->
		<div class="quansoso_intaobao_searchbox">
			<img class="searchstatu" src="http://img04.taobaocdn.com/imgextra/i4/857261527/T2zJYTXgtXXXXXXXXX_!!857261527.png">
			<input type="input" name="keyWord" class="quansoso_intaobao_searchinput" value="搜搜优惠券"/>
			<a href="" class="quansoso_intaobao_searchbtn"></a>
			<form action="/d/search" method="get" class="quansoso_form_keyWord">
			<input type="hidden" name="keyWord" class="quansoso_keyWord" />	
			</form>
		</div>
		
		</div>
	</div>
</div>

{else }

<!-- 小头部跟随 -->
	<div style="height:40px;">
		<div class ="move_menu" style="background:#5c5c5c;width:100%;height:40px;box-shadow:1px 1px 3px #ddd,">
				
			<div class="move_nav">
				<ul>
					<li {if $mark=="index"}class="curr"{/if}><a {if $mark=="index"}{/if} href="/d/index">首页</a></li>
					<span></span>
					<li {if $mark=="goodRecommend"}class="curr"{/if}><a {if $mark=="goodRecommend"}class="curr"{/if} href="/d/goods">淘宝贝</a></li>
					<span></span>
					<li {if $mark=="postCard"}class="curr"{/if}><a {if $mark=="postCard"}class="curr"{/if} href="/d/coupons">享优惠</a></li>					
					<span></span>
					<li {if $mark=="activity"}class="curr"{/if}><a {if $mark=="activity"}class="curr"{/if} href="/d/activity">聚活动</a></li>
					<span></span>
					<li {if $mark=="merchant"}class="curr"{/if}><a {if $mark=="merchant"}class="curr"{/if} href="/d/merchant">品牌说</a></li>
				</ul>
			</div>
			
		</div>
	</div>	
{/if}	